body {
    position: relative;
    max-width: 100%;
    overflow-x: hidden;
}

.HeaderSetter{
    margin-left: 20px;
}

.HeaderSetter div {
    display: inline-flex;
    flex-direction: row;
}

/* Light Gray (69,69,71) <Brightness:+6*5> */
.HeaderSetter div .Donation{
    margin-left: 20px;
    z-index: 1;
    text-align: center;
    font-family: 'Trebuchet MS', Arial, Verdana, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(99,99,101);
    border: 2px solid rgb(20,20,20);
}

/* Light Gray (69,69,71) <Brightness:+6*5> */
.LeftSideMargin .flex div {
    inline-size:100px;
    background-color: rgb(99,99,101);
    border: 2px solid rgb(20,20,20);
}

.LeftSideMargin .flex .Logo{
    inline-size:128px;
    background-color: rgb(99,99,101);
    border: 2px solid rgb(20,20,20);
}

.LeftSideMargin div {
    display: inline-flex;
    flex-direction: column;
}

.LeftSideMargin .flex div {
    display: inline-flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p {
    z-index: 1;
    text-align: center;
    font-family: 'Trebuchet MS', Arial, Verdana, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(69,69,71);
    border: 2px solid rgb(20,20,20);
}

a {
    z-index: 1;
    color: rgb(11,11,17);
    text-align: center;
    font-family: 'Trebuchet MS', Arial, Verdana, sans-serif;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgb(20,20,50);
}

.TotalMargin{
    display: inline-flex;
}

.LeftSideMargin {
    margin-left: 10px;
    margin-top: 10px;
}